#googlemaps
.row
  .jumbotron.col-md-5.spot-form
    %h2 Meet Halfway!
    %p.lead Don't go out of your way. Find that sweet spot. Meet halfway.

    %form#places-form{action: :spots, method: :post}
      .form-group
        %label{:for => "place1"} Point A
        %select#place1.location-select.form-control{ name: "place1"}
      .form-group
        %label{:for => "place2"} Point B
        %select#place2.location-select.form-control{ name: "place2"}
      .form-group
        %input#midPointLat{type: "hidden", name: "midPointLat"}
        %input#midPointLng{type: "hidden", name: "midPointLng"}
      .form-group.align-center
        %button.btn.btn-success#spot-button{:type => "button"} Find Spots...
